@import "tailwindcss";

:root {
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@theme {
    --color-black: #242424;
    --color-red: #B83636;
    --color-blue: #1E91D6;
    --color-blue-light: #9DFFF9;
    --color-blue-rich: #0072BB;
    --color-blue-deep: #151E3F;
    --color-blue-dark: #030027;
    --color-yellow: #F7CB15;
    --color-orange: #FFA400;
    --color-green: #70AE6E;
    --color-green-bright: #BEEE62;
    --color-green-light: #C2EFB3;
    --color-green-light-2: #7DDE92;
    --color-purple: #A755C2;
    --color-gray: #485665;
    --color-gray-light: #CDD1C4;

    --font-sans: "Lato", sans-serif;
}

a {
    @apply font-medium decoration-inherit;
    color: #646cff;
}

a:hover {
    color: #535bf2;
}

h1 {
    @apply text-5xl leading-[1.1];
}

button {
    @apply rounded-lg border border-transparent px-5 py-2 text-base font-medium cursor-pointer text-blue-dark transition duration-250;
    @apply hover:border-[#646cff];
    @apply focus:outline-4 focus-visible:outline-4;
}

/*button:focus,*/
/*button:focus-visible {*/
/*    outline: 4px auto -webkit-focus-ring-color;*/
/*}*/

.card {
    @apply p-8;
}

#app {
    @apply max-w-7xl mx-auto p-8 text-center;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}
